/* css reset */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body {
    font-family: 'Quicksand', 'sans-serif';
 }

 /* global styles */

header {
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 50px;
    z-index: 10;
}

nav {
    width: 100%;
    height: 100%;
}

footer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    padding: 50px;
}

/* class styles */

/* Navigation */
.nav-list {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.nav-item {
    width: 100%;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    font-weight: bold;
    cursor: pointer;
    color: white;
}
.nav-link:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

/* Main section */
.home-main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin-top: -50px;
}

.home-main-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/img/the-beatles.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(4px);
    z-index: -1;
}

.home-main-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 400px;
    margin: auto;
    padding: 50px 10px; 
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}

.home-main-list-item {
    font-size: 22px;

}

.home-main-location {
    font-size: 22px;
}

/* Tickets section */
.tickets-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
    padding: 50px;
    background-color: rgb(200, 200, 200);
}

.tickets-title {
    font-size: 48px;
}

.tickets-row {
    display: flex;
    gap: 50px;
}

.ticket-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    background-color: black;
    border-radius: 10px;
    color: white;
    padding: 50px;
}

.ticket-card-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.ticket-price {
    font-size: 24px;
    margin-bottom: 15px;
}

.tickets-list {
    margin-bottom: 30px;
}

.ticket-button-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    cursor: pointer;
    background-color: white;
    border: none;
    border-radius: 9999px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin-top: auto;
    padding: 10px 30px;
}

.ticket-button-link:hover{
    background-color: grey;
}

/* Map section */
.map-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 400px;
    margin: 80px auto;
}

/* Footer  */
.social-media-icon {
    width: 50px;
    height: 50px;
}
